<html>
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css"/>

    <style>
        select {
            height: 30px;
        }

        form {
            margin-bottom: 0;
        }
    </style>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="./js/utils.js"></script>
</head>
<body>
<form id="vote">
    <label for="answer">Select priority:</label>
    <select name="answer" id="answer">
        <option value="">None</option>
        <option value="high">High</option>
        <option value="medium">Medium</option>
        <option value="low">Low</option>
        <!-- <option value="other">💬 Other (please write below)</option> -->
    </select>
    <textarea placeholder="Comment" name="comment" id="comment" style="display: none;" rows="5"></textarea>
    <br />

    <button type="submit" class="mod-primary">Save</button>
</form>
<script src="./js/vote.js"></script>
</body>
</html>
